#Services{
    width: 100%;
    height: 80vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.services{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid  rgba(128, 128, 128, 0.555);
}

.services h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.services hr{
    height: 2px;
    width: 20%;
    background-color: rgb(255, 0, 0);
    border: none;
    margin-bottom: 50px;

}

.service{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.service_about{
    width: 50%;
    height: 50%;
    padding: 10px;
}

.descricao{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.descricao h5{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.service_about1 p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.623);
}


.service_about:nth-child(1){
    background-image: url(/img/agulha\ e\ tinta.png.crdownload);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: top;
}

.service_about:nth-child(2){
    background-image: url(/img/pngwing.com.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top;
}

.service_about:nth-child(3){
    background-image: url(/img/NicePng_tatoo-png_903886.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position:50%;
}

.service_about:nth-child(4){
    background-image: url(/img/NicePng_school-vector-png_7851122.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top;
}

.img_service{
    margin-left: 50px;
    width: 40%;
    height: 100%;
    background-image: url(/img/home-1-475x858.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

@media  screen and (max-width: 750px) {
    .img_service{
        display: none;
    }
    .services{
        border-right: 0px solid  rgba(128, 128, 128, 0.555);
    }
    .service{
        width: 100%;
    }
    
}
